
.Name {
    font-size: 1rem;
    padding-left: 10px;
    
}
.post {
    border: 1px solid lightgrey;
    max-width: 500px;
    margin: 1rem auto;
}

.pfp {
    border-radius: 50%;
    margin: 3px;
    max-height: 2rem;
    
}

.pfp, .Name {
    display: inline-block;
    vertical-align: middle;
}

.image {
    max-width: 500px;
}

.bottom-name, .comments, .description {
    margin: 2px 4px;
}

.bottom-name, .description {
    display: inline;
}
.description {
    color: black;
    font-weight: 100;
}

